---
tags: page
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title !== "Home" %}
            <title>{{ title }} &middot; Erick Lundgren</title>
        {% else %}
            <title>Erick Lundgren &middot; Feral Earth Research</title>
        {% endif %}
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/apple-touch-icon-precomposed.png">
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        {% set description = "I am an ecologist who uses a variety of quantitative macroecological and field based approaches to study introduced species and novel ecosystems. I am interested in studying these pheneomena in the context of Earth's history and with an eye to the influence of cultural values on how we interpret biotic change." %}
        <meta name="description" content="{{ description }}"/>
        <link rel="canonical" href="https://ejlundgren.github.io{{ page.url }}"/>
        <meta
        name="robots" content="index, follow"/>
        <!-- social -->
        {% if title !== "Home" %}
            <meta property="og:title" content="{{ title }} &middot; Erick Lundgren"/>
        {% else %}
            <meta property="og:title" content="Erick Lundgren &middot; Feral Earth Research"/>
        {% endif %}
        <meta property="og:url" content="https://ejlundgren.github.io{{ page.url }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="/assets/images/social.jpg"/>
        <meta
        property="og:type" content="website"/> <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="{{ description }}"/>
        <meta name="twitter:title" content="Erick Lundgren &middot; Feral Earth Research"/>
        <meta name="twitter:site" content="@ejlundyyy"/>
        <meta name="twitter:image" content="https://ejlundgren.github.io/assets/images/social.jpg"/>
        <meta name="twitter:creator" content="@ejlundyyy"/>
    </head>
    <body>
        <div class="center-container">
            <div class="title-container">
                <a href="/">
                    <h1>Erick Lundgren</h1>
                </a>
                {# {% if title === "Home" %} #}
                <span class="subtitle">Feral Earth Research</span>
                {# {% endif %} #}
            </div>
            <nav>
                {% for section in collections.orderedPages %}
                    <div>
                        <a href="{{ section.url }}" {% if page.url == section.url %} aria-current="page" {% endif %}>{{ section.data.title }}</a>
                    </div>
                {% endfor %}
            </nav>
            <main>
                {{ content | safe }}
            </main>
        </div>
    </body>
</html></div><script>
console.log(`
   _\\       
    /\`b  
/####J   
 |\\ ||  
\n
`);</script></body></html><!-- Website created by Erick Lundgren and Parker Davis https://parkerdavis.dev/ -->